[Desktop Entry]
Name=Roblox Studio
Exec=vinegar run %u
Icon=org.vinegarhq.Vinegar.studio
Terminal=false
Type=Application
MimeType=application/x-roblox-rbxl;application/x-roblox-rbxlx;x-scheme-handler/roblox-studio;x-scheme-handler/roblox-studio-auth;
Categories=Game
