[Desktop Entry]
Name=Vinegar
GenericName=Studio Launcher
Comment=Run Roblox Studio on Linux
Exec=vinegar
Icon=org.vinegarhq.Vinegar
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;PackageManager;
Keywords=gaming;launcher;flatpak;
