[Desktop Entry]
Name=Vinegar
GenericName=Studio Launcher
Comment=Run Roblox Studio on Linux
Exec=vinegar %u
Icon=org.vinegarhq.Vinegar
Terminal=false
Type=Application
MimeType=application/x-roblox-place;application/x-roblox-model;x-scheme-handler/roblox-studio;x-scheme-handler/roblox-studio-auth;
Actions=run-studio;
Categories=GNOME;GTK;Game;PackageManager;
Keywords=gaming;launcher;flatpak;
X-Flatpak-RenamedFrom=org.vinegarhq.Vinegar.studio.desktop;
X-Flatpak=org.vinegarhq.Vinegar

[Desktop Action run-studio]
Name=Run Roblox Studio
Exec=vinegar run
