name: Build
on:
  push:
  pull_request:
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout Repository'
      uses: actions/checkout@v3
    - name: 'Build Vinegar'
      run: make VINEGAR_GOFLAGS="--tags nox11,nowayland"
