[Desktop Entry]
Version=0.5
Type=Application
Name=Roblox App (Vinegar)
Exec=vinegar player -app
Terminal=false
MimeType=x-scheme-handler/roblox-player
Categories=Game
Icon=com.github.vinegar.roblox.player
