[Desktop Entry]
Version=0.5
Type=Application
Name=Roblox Studio (Vinegar)
Exec=vinegar studio %u
Terminal=false
MimeType=x-scheme-handler/roblox-studio
Categories=Game
Icon=io.github.vinegarhq.Vinegar.studio
