[Desktop Entry]
Version=0.5
Type=Application
Name=Roblox Player (Vinegar)
Exec=vinegar player %u
Terminal=false
MimeType=x-scheme-handler/roblox-player
Categories=Game
NoDisplay=true
Icon=io.github.vinegarhq.Vinegar.player
