[Desktop Entry]
Type=Application
Name=Roblox Player
NoDisplay=true
Icon=org.vinegarhq.Vinegar.player
Exec=vinegar player %u
Terminal=false
MimeType=x-scheme-handler/roblox;x-scheme-handler/roblox-player
Categories=Game
